/*!
 * GoTW_langing_page v1 (https://www.austronesiatw.com/)
*/

.bootstrap-select .btn:focus {
    outline: none !important;
}
.bootstrap-select .btn{
	font-size:11px;
}
@media (min-width: 768px){
	.bootstrap-select.btn-group {
    		padding-top: 10.25px;
	}
}
@media (max-width: 767px){
	.bootstrap-select .btn:focus,.bootstrap-select .btn{
		background-color: #fff !important; 
    		border-color: #fff !important;
    		width:auto;
	}
	
	.btn-group.open .dropdown-toggle {
        	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
        	-moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
        	-o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    		box-shadow: 0 5px 15px rgba(0,0,0,0);
	}
}
/*Show mainDiv after pace done loading*/
#mainDiv{
	display:none;
}

/*Add section header width*/
section.cta .cta-content h2 {
    max-width: 800px;
}

/*Set jumbotron font size*/
.jumbotron.jbt-A li{
	font-size:21px;
}
.jumbotron.jbt-A li>p{
	font-size:14px;
}

/*set social-mail color*/
section.contact ul.list-social li.social-mail a {
	background-color: #e03a5d;
}

/*change header bg color */
header{
	background: url(../img/bg-pattern.png),linear-gradient(to left,#247069,#16548d);
}
/* set #download bg color*/
.bg-primary {
    background: #fdcc52;
    background: -webkit-linear-gradient(#fdcc52,#edd170);
    background: linear-gradient(#fdcc52,#edd170);
}


/*set fonts
this selector will only work for elements which carry a lang attribute
*/
body 		{font-family: Catamaran,Helvetica,Arial,sans-serif,'Noto Sans TC','Open Sans' !important;}
:lang(zh) 	{font-family: '微軟正黑體',sans-serif !important;}
:lang(vn) 	{font-family: 'Open Sans',sans-serif !important;}
:lang(id) 	{font-family: Catamaran,Helvetica,Arial,sans-serif !important;}
:lang(en)       {font-family: Catamaran,Helvetica,Arial,sans-serif !important;}

/* ============================================
   Device Mockup - iPhone 6 Plus (extracted from device-mockups library)
   Only includes the styles actually used on this site
   ============================================ */

/* Base device mockup structure */
.device-mockup {
    position: relative;
    width: 100%;
    padding-bottom: 61.775701%;
}

.device-mockup > .device {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.device-mockup > .device > .screen {
    position: absolute;
    overflow: hidden;
}

.device-mockup > .device > .button {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    overflow: hidden;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    cursor: pointer;
}

/* iPhone 6 Plus Portrait - White */
.device-mockup.iphone6_plus,
.device-mockup.iphone6_plus.portrait {
    padding-bottom: 201.76%;
}

.device-mockup.iphone6_plus.portrait.white > .device,
.device-mockup.iphone6_plus.white > .device {
    background-image: url(../lib/device-mockups/iphone_6_plus/iphone_6_plus_white_port.png);
}

.device-mockup.iphone6_plus.portrait > .device > .screen,
.device-mockup.iphone6_plus > .device > .screen {
    top: 11.58%;
    bottom: 11.58%;
    left: 5.97%;
    right: 5.97%;
}

.device-mockup.iphone6_plus.portrait > .device > .button,
.device-mockup.iphone6_plus > .device > .button {
    display: block;
    top: 89.9%;
    bottom: 3.2%;
    left: 43%;
    right: 43%;
}
